{%  extends 'base.html.twig'%}

{%  block body %}
    <h1> Bienvenue ! </h1>

    <p> Externi Salamis itidem portuosam ad faciunt multiplici a a discretam ipso multiplici armamentis viribus autem
        et duae insulam continenti delubris armamentis carinae a ut multiplici altera aedificet Cyprus supremos navem
        et omnium templo discretam viribus insignis et templo et supremos.
    </p>

    <p> Externi Salamis itidem portuosam ad faciunt multiplici a a discretam ipso multiplici armamentis viribus autem
        et duae insulam continenti delubris armamentis carinae a ut multiplici altera aedificet Cyprus supremos navem
        et omnium templo discretam viribus insignis et templo et supremos.
    </p>

{% endblock%}